<h2> <%= t(:create, scope: [:titles, :adopt]) %> </h2>

<div class="row">
<div id="new_adopt_container" class="span8">
  <%= semantic_form_for [@request, @adopt] do |f| %>
    <%= f.inputs :resume, :description %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %>
</div>

<aside id="adopt_aside" class="span4">
  <% unless @request.comments.blank? %>
    <div id="comments">
      <h3> <%= t(:comments, scope: [:titles, :adopt]) %> </h3>
      <% unless @request.observation.blank? %>
        <div id="observation">
          <%= simple_format @request.observation %>
        </div>
      <% end %>

      <ul>
        <% @request.comments.each do |comment| %>
          <li>
            <%= raw simple_format(comment.body) %>
            <%= time_tag comment.created_at,  t(:created_at, scope: [:comment], date:  comment.created_at.to_s(:short)) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</aside>
</div>
