
<section id="orphans_requests">
  <h1> <%= t(:adopt, scope: [:titles, :request]) %> </h1>
  <ul id="requests">
    <% @requests.each do |request| %>
      <li class="request">
        <%= link_to request do %>
          <%= time_tag request.created_at, request.created_at.to_s(:short) %>
          <h3><%= request.resume %></h3>
          <blockquote> <%= request.description[0..100] %>... </blockquote>
          <ul class="info">
            <li><%= count(request.comments) %></li>
            <li><%= count(request.adopts) %></li>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>