<section id="orphans_requests">
  <h1> <%= t(:adopt, scope: [:titles, :request]) %> </h1>

  <!--
  <form id="search_request">
    <ul>
      <li>
        <label for="q_resume_contains"> Por Titulo </label>
        <input id="q_resume_contains" name="q[resume_contains]" />
      </li>
    </ul>
  </form>
  -->

  <ul id="requests">
    <% @requests.each do |request| %>
      <li class="request">
        <%= link_to request do %>
          <%= time_tag request.created_at, request.created_at.to_s(:short) %>
          <h3 class="span8"><%= request.resume %></h3>
          <blockquote class="span3"> <%= request.description[0..100] %>... </blockquote>
          <ul class="info span9">
            <li><%= count(request.comments) %></li>
            <li><%= count(request.adopts.confirmed) %></li>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
