<div id="new_request_container" class="row-fluid">
  <h2> <%= t(:create, scope: [:titles, :request]) %> </h2>
  <%= semantic_form_for @request do |f| %>
    <%= f.inputs do %>
      <%= f.input :resume, input_html: {class: "span7"} %>
      <%= f.input :description, input_html: {class: "span7"} %>
      <%= f.input :observation, input_html: {rows: "5", class: "span7"} %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button,  input_html: {class: "span7"} %>
    <% end %>
  <% end %>
</div>
