<div id="new_request_container">
<%= semantic_form_for @request do |f| %>
  <%= f.inputs do %>
    <%= f.input :resume %>
    <%= f.input :description %>
    <%= f.input :observation, input_html: {rows: "5"} %>
  <% end %>
  <button type="submit" class="btn">Submit</button>
<% end %>
</div>