<p id="notice"><%= notice %></p>

<h2> <%= @request.resume %> </h2>
<section id="request">
  <div id="description">
    <%= simple_format @request.description %>
  </div>

  <h5> <%= t(:observation, scope: [:titles, :request]) %> </h5>
  <% unless @request.observation.blank? %>
    <div id="observation">
      <%= simple_format @request.observation %>
    </div>
  <% end %>
  <%= time_tag @request.created_at, t(:created_at, scope: [:request], date: @request.created_at.to_s(:short)) %>
  <section id="comments">
    <h2> <%= t(:comments, scope: [:titles, :request]) %> </h2>
    <ul>
      <% @request.comments.each do |comment| %>
        <li>
          <%= raw simple_format(comment.body) %>
          <%= time_tag comment.created_at,  t(:created_at, scope: [:comment], date:  comment.created_at.to_s(:short)) %>
        </li>
      <% end %>
    </ul>
    <%= semantic_form_for [@request, Comment.new] do |f| %>
      <%= f.inputs do %>
        <%= f.input :body, input_html: {rows: "6"} %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, as: :button %>
      <% end %>
    <% end %>
  </section>
</section>

<aside id="request_aside">
  <div id="new_adopt_link">
    <%= link_to t(:new, scope: [:adopt, :action]), new_request_adopt_path(@request) %>
  </div>
  <% unless @request.adopts.blank? %>
    <div id="adopts">
      <h3> Adoções </h3>
      <ul>
        <% @request.adopts.each do |adopt| %>
          <li>
            <%= link_to request_adopt_path(@request, adopt) do %>
              <h5><%= adopt.resume %></h5>
              <%= time_tag adopt.created_at, t(:created_at, scope: [:adopt], date:  adopt.created_at.to_s(:short)) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</aside>