<%= form_for(@foi) do |f| %>
  <% if @foi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foi.errors.count, "error") %> prohibited this foi from being saved:</h2>

      <ul>
      <% @foi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </div>
  <div class="field">
    <%= f.label :observation %><br />
    <%= f.text_area :observation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
