<h1>Listing fois</h1>
<%= link_to 'New Foi', new_foi_path %>

<table>
  <tr>
    <th>Description</th>
    <th>Org</th>
    <th>Observation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @fois.each do |foi| %>
    <tr>
      <td><%= foi.description %></td>
      <td><%= foi.org %></td>
      <td><%= foi.observation %></td>
      <td><%= link_to 'Show', foi %></td>
    </tr>
  <% end %>
</table>
