<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @foi.description %>
</p>

<p>
  <b>Org:</b>
  <%= @foi.org %>
</p>

<p>
  <b>Observation:</b>
  <%= @foi.observation %>
</p>


<h2> Comentarios </h2>
<ul>
<% @foi.comments.each do |comment| %>
  <li><p> <%= comment.body %> </p></li>
<% end %>
</ul>

<%= semantic_form_for [@foi, Comment.new] do |f| %>
  <%= f.inputs :body %>
  <%= f.actions %>
<% end %>
