<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @foi.description %>
</p>

<p>
  <b>Org:</b>
  <%= @foi.org %>
</p>

<p>
  <b>Observation:</b>
  <%= @foi.observation %>
</p>


<%= link_to 'Edit', edit_foi_path(@foi) %> |
<%= link_to 'Back', fois_path %>
